   * {
		box-sizing: border-box;
	}
	body{
		background-color: #FFF0F5;
		font-family: arial;
	}
	h1{
		margin-left: auto;
		margin-right: auto;
		width: 400px;
		margin-bottom: 30px;
		background-color: palegoldenrod;
		text-align: center;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		border-radius: 100px;
	}
	.box{
		width: 100%;
	}	
	.content1, .content2, .content3{
		height: 200px;
		background-color: #AFEEEE;
		border: 1px solid black;
		position: relative;
	    font-weight: bold;
	    width: 90%;
        padding: 30px 5px 20px 5px;
	}
	
	.sec1, .sec2, .sec3{
		position: absolute;
		top: 0px;
		right: 0px;
		text-align: center;
		color: white;
		width: 190px;
		height: 30px;
		padding: 5px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
	}
	.sec1{
		background-color: #4d4dff;
	}
	.sec2{
		background-color: darkslategrey;
	}
	.sec3{
		background-color: limegreen;
	}
	.content1{
		background-color: #b3b3ff;
	}
	.content2{
		background-color: grey;
	}
	.content3{
		background-color: lightgreen;
	}
	@media (min-width: 992px) {
		section{
			width: 33.33%;
			float: left;
		}
		.content1, .content2, .content3{
			margin: 20px 25px;
		}
	}          
	@media (min-width: 768px) and (max-width: 991px) {
		section{
			width: 50%;
			float: left;
		}
		.content1{
			margin: 20px 25px;
		}
		#diff{
			width: 105.35%;
			float: left;
		}
		.content3, .content2{
			margin: 20px 25px;
		}
	}      
	@media (max-width: 767px) {
		section{
			width: 100%;
			float: left;
		}
		.content1, .content2, .content3{
			margin: 15px 25px;
		}
	}
	    